table {
    width: 100%;
  }
  
  input {
    width: 220px;
    border-radius: 10px;
    border: 1px solid;
    height: 20px;
    padding: 20px;
    font-size: 15px;
    margin: 20px;
  }

  .mat-row:nth-child(even){
    background-color:rgba(69, 172, 216, 0.25);  
    }

.mat-row:nth-child(odd){
    background-color:rgba(71, 230, 13, 0.25);
    }